<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <appSettings>
    <add key="configFilename" value="C:\MPS\work\Trunk\Conax\Modules\Auxiliary\ConaxWorkflowManager\Core\ConaxWorkflowManagerConfig.xml"/>
  </appSettings>
  
  <!-- don't modify -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="Envivio_4Balancer" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IOpws3Service" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceServiceSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
              bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
              keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
              realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
              useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/IS/serviceservice.asmx" binding="basicHttpBinding"
          bindingConfiguration="ServiceServiceSoap" contract="ServiceService.ServiceServiceSoap"
          name="ServiceServiceSoap" />
      <endpoint address="http://localhost/IS/serviceservice.asmx" binding="customBinding"
          bindingConfiguration="ServiceServiceSoap12" contract="ServiceService.ServiceServiceSoap"
          name="ServiceServiceSoap12" />
      <endpoint address="http://10.4.1.10/balancerSOAP" binding="basicHttpBinding"
          bindingConfiguration="Envivio_4Balancer" contract="Envivio.ServicePortType"
          name="Service" />
      <endpoint address="http://opws3.sfanytime.com/Opws3Service.svc/soap"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOpws3Service"
          contract="SFAnytime.IOpws3Service" name="BasicHttpBinding_IOpws3Service" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <MPS.MPP.Auxiliary.ConaxWorkflowManager.Core.Properties.Settings>
      <setting name="MPS_MPP_Auxiliary_ConaxWorkflowManager_Core_SessionService_ServiceService"
          serializeAs="String">
        <value>http://localhost/integrationservices/serviceservice.asmx</value>
      </setting>
      <setting name="MPS_MPP_Auxiliary_ConaxWorkflowManager_Core_ContentService_ContentService"
          serializeAs="String">
        <value>http://localhost/IS/contentService.asmx</value>
      </setting>
      <setting name="MPS_MPP_Auxiliary_ConaxWorkflowManager_Core_ConaxContegoOnDemandContentService_OnDemandContentWebService"
          serializeAs="String">
        <value>https://10.4.2.33/ca-server/webservices/ondemandcontent</value>
      </setting>
      <setting name="MPS_MPP_Auxiliary_ConaxWorkflowManager_Core_ConaxContegoPPVProductService_PpvProductWebService"
          serializeAs="String">
        <value>https://10.4.2.33/ca-server/webservices/ppvproduct</value>
      </setting>
    </MPS.MPP.Auxiliary.ConaxWorkflowManager.Core.Properties.Settings>
  </applicationSettings>
</configuration>
