<?xml version="1.0" encoding="UTF-8"?>
<FolderConfiguration>
  <IngestSettings enableQA="false"/>
  <URIProfile>FREE_USAGE</URIProfile>
  <Devices>
     <Device>PC</Device>
    <Device>MAC</Device>
    <Device>STB</Device>
	</Devices>
  <ContentRightsOwner>CP1</ContentRightsOwner>
  <ContentAgreement>CP1</ContentAgreement>
  <DefaultImageFileName>default.jpg</DefaultImageFileName>
  <!--Default Rating Type for Folder. Acceptable string values are “MovieRating” or “TVRating”-->
  <DefaultRatingType>TVRating</DefaultRatingType>
  <!--Value must match metadatamapping.config file name. Note: there can be several metadatamapping config files-->
  <MetadataMappingConfigurationFileName>MetadataMapping.config</MetadataMappingConfigurationFileName>
   <MetadataDefaultValues>
   <!--Default Movie Rating to be applied if missing from ingest xml-->
    <!--<MovieRating>A</MovieRating-->
   <!--Default TV Rating to be applied if missing from ingest xml-->
    <!--TVRating>TV-PG</TVRating-->
	  <Genre>Comedy</Genre>
	  <Category>Action</Category>
	</MetadataDefaultValues>
    <ConfigurationForServices>
    <Service objectId="4895385601">
      <Prices>
        <!--<Categories>
          <Category name="Action">
			<SubscriptionPrice id="1287"/> -->
		  <RentalPrice amount="10" currency="USD" periodLengthInhrs="25"/> 
         <!--</Category>
        </Categories>-->
      </Prices>
    </Service>
  </ConfigurationForServices>
</FolderConfiguration>
