<?xml version="1.0" encoding="UTF-8"?>
<FolderConfiguration>
  <IngestSettings enableQA="true"/>
  <URIProfile>FREE_USAGE</URIProfile>
  <IngestXMLTypes>
    <!-- <IngestXMLType>CableLabs_1_0</IngestXMLType>-->
    <IngestXMLType>CableLabs_1_1</IngestXMLType> 
  </IngestXMLTypes>
  <Devices>
    <Device>PC</Device>
    <Device>MAC</Device>
    <Device>STB</Device>>
  </Devices>
  <ContentRightsOwner>CP1</ContentRightsOwner>
  <ContentAgreement>CP1</ContentAgreement>
  <DefaultImageFileName>default.jpg</DefaultImageFileName>
  <MetadataMappingConfigurationFileName>MetadataMapping.config</MetadataMappingConfigurationFileName>
  <DefaultConfigurationForAllServices>
    <MetadataDefaultValues>
	  <ParentalRating>PG</ParentalRating>
	  <Genre>Comedy</Genre>
	  <Category>Action</Category>
	</MetadataDefaultValues>
    
  </DefaultConfigurationForAllServices>
  <ConfigurationForServices>
    <Service objectId="4895385601">
      <Prices>
        <!--<Categories>
          <Category name="Action">-->
			<SubscriptionPrice id="159"/> 
		  
         <!--</Category>
        </Categories>-->
      </Prices>
    </Service>
  </ConfigurationForServices>
</FolderConfiguration>
